/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrap{
      width: 1000px;
      margin: 0 auto;
      /*background-color: yellow;*/
      background-image: url('../img/Header_background.png');
      background-position: top;
      background-repeat: no-repeat;
}

/*top buttons*/
.button {
      box-shadow: 3px 3px 3px #333333;
      background-color: #ffffff;
      border: 1px solid #d8d8d8;
      display: inline-block;
      color: #000000;
      font: 12.75px Verdana, sans-serif;
      text-decoration: none;
      text-align: center;
      height: 17px;
      width: 87px;
      padding: 1px 0 0 0px;
}

.button:hover {
      background-color:#f0f0f0;
}

.button:active {
      position:relative;
      top:1px;
}

.header_buttons{
      height: 70px;
      padding: 20px 10px 10px 706px;
}
/*end of top buttons*/

/* get in touch */
.get_in_touch {
      margin-top: 5px;
      font: bold 18px Verdana, sans-serif;
      color: rgb(177, 149, 58);
      padding: 0 0 0 757px;
      text-shadow: -1px -1px 0 #e5e5e5, 1px -1px 0 #e5e5e5, -1px 1px 0 #e5e5e5, 1px 1px 0 #e5e5e5;
}

.phone_num{
      font: bold 27.47px Verdana, sans-serif;
      color: black;
      padding: 0 0 0 757px;
}

/* end of get in touch */

.logos_navigation{
      overflow: hidden;
}

.logos {
      margin-top: 60px;
      float: right;
      width: 50%;
      text-align: right;
      padding-right: 15px;
}

.logos li{
      display: inline;
 }

.logos li img{
      vertical-align: bottom;
}

/* main navigation */
.navigation {
      margin-top: 90px;
}

.main_navigation {
      padding-left: 10px;
      margin-bottom: 0px;
      width: 390px;
}

.main_navigation li{
      display: inline-block;
      height: 40px;
      width: 125px;
      text-align: center;
      background-color: #b8b5b5;
      font: 18px Verdana, sans-serif;
      line-height: 40px;
      margin-top: 15px;
}

.main_navigation li a{
      text-decoration: none;
      color: white;
}

.navigation .active_element{
      background-color: #b2973d;
      border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px; 
      margin-top: 0px;
      padding-top: 10px;  
}

.navigation_submenu{
      background-image: url('../img/navigation_menu_background.png');
      width: 975px;
      height: 29px;
      margin-left: 10px;
}

.navigation_submenu ul{
      margin-top: 0;
      padding-left: 18px;
      padding-top: 4px;
}

.navigation_submenu ul li{
      display: inline-block;
      margin-right: 58px;
}

.navigation_submenu ul li a{
      font: 14px Verdana, sans-serif;
      text-decoration: none;
      color: white;
}

.navigation_submenu ul li .active_submenu_element{
      color: black;
}
/* end of main navigation */

/* content top*/
.navigation_side_box{
      background-image: url('../img/nav_side_box.png'); 
      margin-left: 17px;
      width: 208px;
      height: 254px;
      margin-top: 3px;
      float: left;
}

.button_contact img{
      padding-top: 210px;
      padding-left: 20px;
}

.button_contact:active {
      position:relative;
      top:1px;
}

.content_supply{
      background-image: url('../img/Content_supply.png');  
      height: 300px;
      width: 747px;
      margin-top: 10px;
      margin-left: 238px;
}
/* end of content top*/

.content_body{
      position: relative;
      z-index: -1;
      top: -80px;
      clear: both;
      background-image: url('../img/content_body.png');
      /*height: 1277px;*/
      width: 695px;
      float: right;
      margin-right: 50px;
}

.about{
      background-color: yellow;
      margin: 30px auto;
      width: 637px;
      /*height: 683px;*/
      border-radius: 0px 0px 30px 30px / 0px 0px 30px 30px;
}

.about p{
      font: bold 14px Verdana, sans-serif;
      padding-top: 120px;
}

/* align footer links */
.bottom_menu {
      margin-top: 100px;
      position: relative;
      width: 100%;
      height: 40px;
      background-color: #b8b5b5;
}

.bottom_menu:after {
      content: '';
      display: block;
      clear: both;
}

.align_center_to_left {
      position: relative;
      right: 50%;
      float: right;
}

.align_center_to_right {
      position: relative;
      height: 40px;
      z-index: 1;
      right: -50%;
}

.align_center_to_right ul li{
      display: inline;
      text-decoration: none;
}
/* end of align footer links */

/* decorate footer links */
.bottom_menu{
      clear:both;
}

.bottom_menu a {
      text-decoration: none; 
      color: white;
      font: 12px Verdana, sans-serif;
}

.bottom_menu a:after {
      content: " - ";
}

/*remove '-' after the last bottom link*/
.bottom_menu .last_link_classs:after {
      content: " ";
}

/*reset computed styles for footer */
.footer_list_class{
  padding: 0;
  margin: 0;
  line-height: 38px;
}

/* end of decorate footer links */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
